h1 {
    color: rgb(40, 51, 71);
    align-items: center;
}
table {
    width: 95%;
    padding: 5px;
    border-collapse: collapse;
}

.header-table {
    width: 100%;
    background-color: rgb(40, 51, 71);
    color: #fff;
    padding: 2px;
}

.body-table {
    width: 90%;
    border: 1px solid black;
}

td {
    padding: 10px 0px;
}
.form-client{
    width: 95%;
    margin: 0 auto;
    
}

.alignInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}